In [14]:
#Empty dictionary declaration
x={}
print(type(x))

<class 'dict'>

In [15]:
student_data={'student_name':['Atul','Tejas','Pushkar'],
             'marks':(34,67,89)}
print(student_data)

{'student_name': ['Atul', 'Tejas', 'Pushkar'], 'marks': (34, 67, 89)}

In [16]:
#convert dictionary into dataframe
import pandas as pd 
pd.DataFrame(student_data)

  student_name  marks
0         Atul     34
1        Tejas     67
2      Pushkar     89

In [17]:
student_data.keys()

dict_keys(['student_name', 'marks'])

In [18]:
student_data.values()

dict_values([['Atul', 'Tejas', 'Pushkar'], (34, 67, 89)])

In [19]:
student_data.items()

dict_items([('student_name', ['Atul', 'Tejas', 'Pushkar']), ('marks', (34, 67, 89))])

In [20]:
mobile_data={'mobile_company':['samsung','oppo','vivo'],
            'mobile_price':[20000,25000,35000]}
mobile_data

{'mobile_company': ['samsung', 'oppo', 'vivo'],
 'mobile_price': [20000, 25000, 35000]}

In [21]:
mobile_data.keys()

dict_keys(['mobile_company', 'mobile_price'])

In [22]:
mobile_data.values()

dict_values([['samsung', 'oppo', 'vivo'], [20000, 25000, 35000]])

In [23]:
mobile_data.items()

dict_items([('mobile_company', ['samsung', 'oppo', 'vivo']), ('mobile_price', [20000, 25000, 35000])])

In [24]:
#add elements into a dictionary=>called function
mobile_data.update({'mobile_color':('red','grey','white')})
mobile_data

{'mobile_company': ['samsung', 'oppo', 'vivo'],
 'mobile_price': [20000, 25000, 35000],
 'mobile_color': ('red', 'grey', 'white')}

In [25]:
#remove element of dictionary
#popitem() remove last key value pair
mobile_data.popitem()

('mobile_color', ('red', 'grey', 'white'))

In [26]:
mobile_data

{'mobile_company': ['samsung', 'oppo', 'vivo'],
 'mobile_price': [20000, 25000, 35000]}

In [27]:
#pop() is used to remove particular key value pair
mobile_data.pop('mobile_company')

['samsung', 'oppo', 'vivo']

In [28]:
mobile_data

{'mobile_price': [20000, 25000, 35000]}

In [29]:
#access dictionary elements by using get() or key parameter
mobile_data.get('mobile_price')

[20000, 25000, 35000]

In [30]:
mobile_data['mobile_price']

[20000, 25000, 35000]

In [32]:
names=['Aditya','pooja','sandesh']
course_name='python'
x={}
x.fromkeys(names,course_name)

{'Aditya': 'python', 'pooja': 'python', 'sandesh': 'python'}

In [33]:
#setdefault()
data={'employee_name':'Deepak','post':'Manager'}
data

{'employee_name': 'Deepak', 'post': 'Manager'}

In [36]:
data.setdefault('company_name','Infosys')
data

{'employee_name': 'Deepak', 'post': 'Manager', 'company_name': 'Infosys'}

In [37]:
#2 dimesional dictionary=>dictionary within dictionary
employee_data={'empid1':{'employee_name':'Arya','company_name':'Infosys'},
              'empid2':{'employee_name':'YashRaj','company_name':'L&T'},
              'empid3':{'employee_name':'Pranay','company_name':'Yash Technology'}}

In [38]:
import pandas as pd
pd.DataFrame(employee_data)

                empid1   empid2           empid3
employee_name     Arya  YashRaj           Pranay
company_name   Infosys      L&T  Yash Technology

In [40]:
#for loop  execution depends on keys parameters
for i in employee_data:
    print(i)
    print("Hello")

empid1
Hello
empid2
Hello
empid3
Hello

In [41]:
for i in employee_data.keys():
    print(i)
    print("Hello")

empid1
Hello
empid2
Hello
empid3
Hello

In [42]:
for i in employee_data.values():
    print(i)
    print("Hello")

{'employee_name': 'Arya', 'company_name': 'Infosys'}
Hello
{'employee_name': 'YashRaj', 'company_name': 'L&T'}
Hello
{'employee_name': 'Pranay', 'company_name': 'Yash Technology'}
Hello

In [43]:
student_data={'student_name':['Atul','Tejas','Pushkar'],
             'marks':(34,67,89)}
for j in student_data.values():
    print(j)
    print("Bye")

['Atul', 'Tejas', 'Pushkar']
Bye
(34, 67, 89)
Bye

In [44]:
student_data={'student_name':['Atul','Tejas','Pushkar'],
             'marks':(34,67,89)}
for j in student_data.items():
    print(j)
    print("Bye")

('student_name', ['Atul', 'Tejas', 'Pushkar'])
Bye
('marks', (34, 67, 89))
Bye

In [45]:
#2 dimesional dictionary=>dictionary within dictionary
employee_data={'empid1':{'employee_name':'Arya','company_name':'Infosys'},
              'empid2':{'employee_name':'YashRaj','company_name':'L&T'},
              'empid3':{'employee_name':'Pranay','company_name':'Yash Technology'}}

In [46]:
#update() is used to combine two dictionaries
employee_data.update({'empid4':{'employee_name':'Sandesh','company_name':'Microsoft'}})
employee_data

{'empid1': {'employee_name': 'Arya', 'company_name': 'Infosys'},
 'empid2': {'employee_name': 'YashRaj', 'company_name': 'L&T'},
 'empid3': {'employee_name': 'Pranay', 'company_name': 'Yash Technology'},
 'empid4': {'employee_name': 'Sandesh', 'company_name': 'Microsoft'}}

In [47]:
employee_data['empid1']['company_name']='IBM'
employee_data

{'empid1': {'employee_name': 'Arya', 'company_name': 'IBM'},
 'empid2': {'employee_name': 'YashRaj', 'company_name': 'L&T'},
 'empid3': {'employee_name': 'Pranay', 'company_name': 'Yash Technology'},
 'empid4': {'employee_name': 'Sandesh', 'company_name': 'Microsoft'}}

In [48]:
employee_data['empid3']['employee_name']='Sahil'
employee_data

{'empid1': {'employee_name': 'Arya', 'company_name': 'IBM'},
 'empid2': {'employee_name': 'YashRaj', 'company_name': 'L&T'},
 'empid3': {'employee_name': 'Sahil', 'company_name': 'Yash Technology'},
 'empid4': {'employee_name': 'Sandesh', 'company_name': 'Microsoft'}}

In [54]:
emp_name=input("Enter the employee name")
for i in employee_data:
    #print(i)
    if(employee_data[i]['employee_name']==emp_name):
        print(f"{emp_name} is present in given dictionary")
        break
else:
    print(f"{emp_name} is not present in given dictionary")

Enter the employee nameAditya
Aditya is not present in given dictionary

In [56]:
x={1:100,2:300,3:400,2:500,5:700,3:800}
print(x)

{1: 100, 2: 500, 3: 800, 5: 700}

In [58]:
s1={'x':100,'y':300,'z':600,'p':700,'x':900,'p':1000}
print(s1)

{'x': 900, 'y': 300, 'z': 600, 'p': 1000}