In [2]:
#Generate uppercase letter list  of given string.
x='python'
upper_case_list=[]
for i in x:
    upper_case_list.append(i.upper())    
print("Uppercase character list of given string",upper_case_list)

Uppercase character list of given string ['P', 'Y', 'T', 'H', 'O', 'N']

In [4]:
x='python'
upper_case_list=[i.upper() for i in x]
print("Uppercase character list of given string",upper_case_list)

Uppercase character list of given string ['P', 'Y', 'T', 'H', 'O', 'N']

Generate square list of a given tuple values.

In [7]:
numbers=(12,67,89,64,90,62)
square_list=[i*i for i in numbers]
print("Square list of a given tuple values",square_list)

Square list of a given tuple values [144, 4489, 7921, 4096, 8100, 3844]

In [8]:
#Generate uppercase names list
names=('Sahil','Nutan','Sakshi','Faraz')
[name.upper() for name in names]

['SAHIL', 'NUTAN', 'SAKSHI', 'FARAZ']

In [9]:
#Generate reverse string of a given tuple
names=('Sahil','Nutan','Sakshi','Faraz')
[name[::-1]  for name in names]

['lihaS', 'natuN', 'ihskaS', 'zaraF']

In [10]:
#To filter names those are containing a character 'i'
names=('Sahil','Nutan','Sakshi','Faraz')
[name  for name in names if 'i' in name ]

['Sahil', 'Sakshi']

In [11]:
names=('Sahi7l','Nu8tan','Sak4shi','Far2az')
#output=>[7,8,4,2]
for name in names:
    for i in name:
        if(i.isdigit()):
            print(i)

7
8
4
2

In [14]:
names=('Sahi7l','Nu8tan','Sak4shi','Far2az')
#output=>[7,8,4,2]
[int(i) for name in names for i in name if i.isdigit()]

[7, 8, 4, 2]

In [20]:
numbers_combination=[[i,j,k]for i in range(1,4) for j in range(1,4) for k in range(1,4)]
print(numbers_combination)

[[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3], [1, 3, 1], [1, 3, 2], [1, 3, 3], [2, 1, 1], [2, 1, 2], [2, 1, 3], [2, 2, 1], [2, 2, 2], [2, 2, 3], [2, 3, 1], [2, 3, 2], [2, 3, 3], [3, 1, 1], [3, 1, 2], [3, 1, 3], [3, 2, 1], [3, 2, 2], [3, 2, 3], [3, 3, 1], [3, 3, 2], [3, 3, 3]]

In [22]:
fruits=('apple','banana','pineapple','graphes','watermelon')
# apple replace with mango
[i.replace('apple','mango') for i in fruits if i=='apple']

['mango']

In [23]:
fruits=('apple','banana','pineapple','graphes','watermelon')
[ 'mango' if i=='apple' else i for i in fruits]

['mango', 'banana', 'pineapple', 'graphes', 'watermelon']

In [25]:
fruits=('apple','banana','pineapple','graphes','watermelon')
new_fruit=[]
for i in fruits:
    if i=='apple':
        new_fruit.append('mango')
    else:
        new_fruit.append(i)
print(new_fruit)

['mango', 'banana', 'pineapple', 'graphes', 'watermelon']