In [1]:
#empty list initialization
x=[]
print(type(x))

<class 'list'>

In [2]:
#empty list initialization
y=list()
print(type(y))

<class 'list'>

In [3]:
names=['Ketaki','Pranay','Sohan','Mangesh']
names[1::-1]

['Pranay', 'Ketaki']

In [4]:
names[2:3:-1]

[]

In [5]:
names[2::-1]

['Sohan', 'Pranay', 'Ketaki']

In [6]:
names[:2:-1]

['Mangesh']

In [7]:
names[::-1]

['Mangesh', 'Sohan', 'Pranay', 'Ketaki']

In [8]:
names[:2:-2]

['Mangesh']

In [9]:
#List operations
#add elements into a list
names=['Ketaki','Pranay','Sohan','Mangesh']
#add single element only
names.append('Omkar')

In [10]:
names

['Ketaki', 'Pranay', 'Sohan', 'Mangesh', 'Omkar']

In [11]:
#add more than one element
names.extend(['Sakshi','Sayali'])
names

['Ketaki', 'Pranay', 'Sohan', 'Mangesh', 'Omkar', 'Sakshi', 'Sayali']

In [12]:
#using insert function we can add element to a particular location
#syntaxt=>insert(index,element)
names.insert(4,'Sahil')
names

['Ketaki', 'Pranay', 'Sohan', 'Mangesh', 'Sahil', 'Omkar', 'Sakshi', 'Sayali']

In [13]:
#index() function
names.index('Sayali')

7

In [14]:
names.insert(7,'Deepali')
print(names)

['Ketaki', 'Pranay', 'Sohan', 'Mangesh', 'Sahil', 'Omkar', 'Sakshi', 'Deepali', 'Sayali']

In [15]:
temp=names[0]
names[0]=names[-1]
names[-1]=temp
names

['Sayali',
 'Pranay',
 'Sohan',
 'Mangesh',
 'Sahil',
 'Omkar',
 'Sakshi',
 'Deepali',
 'Ketaki']

In [16]:
names+=['Jayesh','Bhusan']  # + operator is similar to extend function.
names

['Sayali',
 'Pranay',
 'Sohan',
 'Mangesh',
 'Sahil',
 'Omkar',
 'Sakshi',
 'Deepali',
 'Ketaki',
 'Jayesh',
 'Bhusan']

In [19]:
numbers=[23,78,90,45,75]
new_numbers=numbers
print("Original list",numbers)
print("Duplicate list ",new_numbers)
print("Id of numbers",id(numbers))
print("Id of new numbers",id(new_numbers))
numbers+=[55,66,77]
print("Original list",numbers)
print("Duplicate list ",new_numbers)

Original list [23, 78, 90, 45, 75]
Duplicate list  [23, 78, 90, 45, 75]
Id of numbers 2992116804800
Id of new numbers 2992116804800
Original list [23, 78, 90, 45, 75, 55, 66, 77]
Duplicate list  [23, 78, 90, 45, 75, 55, 66, 77]

In [20]:
x=[11,22,33,44,55]
y=x
z=y
y.extend([66,77,88])
print(x)
print(y)
print(z)

[11, 22, 33, 44, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]

In [24]:
x=[11,22,33,44,55]
y=x
z=[66,77,88]
z=z*2
print(x)
print(y)
print(z)

[11, 22, 33, 44, 55]
[11, 22, 33, 44, 55]
[66, 77, 88, 66, 77, 88]

In [25]:
names

['Sayali',
 'Pranay',
 'Sohan',
 'Mangesh',
 'Sahil',
 'Omkar',
 'Sakshi',
 'Deepali',
 'Ketaki',
 'Jayesh',
 'Bhusan']

In [26]:
#update list element
names.index('Omkar')

5

In [27]:
names[5]='Aditya'
names

['Sayali',
 'Pranay',
 'Sohan',
 'Mangesh',
 'Sahil',
 'Aditya',
 'Sakshi',
 'Deepali',
 'Ketaki',
 'Jayesh',
 'Bhusan']

In [28]:
names.index('Sakshi')

6

In [29]:
names.index('Ketaki')

8

In [30]:
names[6:9]=['Bhagyashree','Prathamesh','Sandesh']
names

['Sayali',
 'Pranay',
 'Sohan',
 'Mangesh',
 'Sahil',
 'Aditya',
 'Bhagyashree',
 'Prathamesh',
 'Sandesh',
 'Jayesh',
 'Bhusan']

In [1]:
numbers=[21,78,23,31,90,56,89,12,17,29]
#arrange list elements in ascending order
numbers.sort()
print("Ascending order elements are",numbers)

Ascending order elements are [12, 17, 21, 23, 29, 31, 56, 78, 89, 90]

In [2]:
#arrange elements in descending order
sample=[67,89,34,90,32,78,12,90,54,95]
sample.sort(reverse=True)
print("Descending order elements are",sample)

Descending order elements are [95, 90, 90, 89, 78, 67, 54, 34, 32, 12]

In [3]:
festival_names=['Dasara','Diwali','Happy New Year','Holi','Ganapati']
#ascending order 
festival_names.sort() #ascii value  of A-Z
print("Festival names in ascending order",festival_names)

Festival names in ascending order ['Dasara', 'Diwali', 'Ganapati', 'Happy New Year', 'Holi']

In [4]:
festival_names=['Dasara','diwali','Happy New Year','Holi','Ganapati']
#ascending order 
festival_names.sort() #ascii value  of A-Z and a-z
print("Festival names in ascending order",festival_names)

Festival names in ascending order ['Dasara', 'Ganapati', 'Happy New Year', 'Holi', 'diwali']

In [6]:
#arrange elements in descending order
student_marks=[67,89,34,90,32,78,12,90,54,95]
student_marks.sort(reverse=True)
print("Students marks in descending order :=>",student_marks)
print("Topper marks are",student_marks[0:3])

Students marks in descending order :=> [95, 90, 90, 89, 78, 67, 54, 34, 32, 12]
Topper marks are [95, 90, 90]

In [7]:
#count()
name=[20,30,67,89,34,30,30,20]
name.count(30)

3

In [8]:
names=['Yash','Bhagyashree','Sakshi','Sayali','Aniket','Yash','Bhagyashree']
names.count('Bhagyashree')

2

In [9]:
from collections import Counter
names=['Yash','Bhagyashree','Sakshi','Sayali','Aniket','Yash','Bhagyashree']
Counter(names)

Counter({'Yash': 2, 'Bhagyashree': 2, 'Sakshi': 1, 'Sayali': 1, 'Aniket': 1})

In [24]:
names=['Yash','Bhagyashree','Sakshi','Sayali','Aniket','Yash','Bhagyashree']
count_names=[]
for n in names:
    if n not in count_names:
        element_count=names.count(n)
        count_names.extend([n,element_count])
print(count_names)

['Yash', 2, 'Bhagyashree', 2, 'Sakshi', 1, 'Sayali', 1, 'Aniket', 1]

In [25]:
names=['Yash','Bhagyashree','Sakshi','Sayali','Aniket','Yash','Bhagyashree']
#reverse() is used to read list in reverse direction(from right to left)
names.reverse() #access -ve indexing element from -1 to onwards
print(names)

['Bhagyashree', 'Yash', 'Aniket', 'Sayali', 'Sakshi', 'Bhagyashree', 'Yash']

In [26]:
names=['Yash','Bhagyashree','Sakshi','Sayali','Aniket','Yash','Bhagyashree']
#remove element from a list
names.pop() #remove last element of list
print(names)

['Yash', 'Bhagyashree', 'Sakshi', 'Sayali', 'Aniket', 'Yash']

In [29]:
names=['Yash','Bhagyashree','Sakshi','Sayali','Aniket','Yash','Bhagyashree']
#remove particular element from a list
names.remove('Aniket')
print(names)

['Yash', 'Bhagyashree', 'Sakshi', 'Sayali', 'Yash', 'Bhagyashree']

In [30]:
#important
numbers=[23,78,90,45,75]
new_numbers=numbers
print("Original list",numbers)
print("Duplicate list ",new_numbers)
print("Id of numbers",id(numbers))
print("Id of new numbers",id(new_numbers))
numbers+=[55,66,77]
print("Original list",numbers)
print("Duplicate list ",new_numbers)

Original list [23, 78, 90, 45, 75]
Duplicate list  [23, 78, 90, 45, 75]
Id of numbers 2098790171456
Id of new numbers 2098790171456
Original list [23, 78, 90, 45, 75, 55, 66, 77]
Duplicate list  [23, 78, 90, 45, 75, 55, 66, 77]

In [32]:
#important 
numbers=[23,78,90,45,75]
new_numbers=numbers.copy()
print("Original list",numbers)
print("Duplicate list ",new_numbers)
#print("Id of numbers",id(numbers))
#print("Id of new numbers",id(new_numbers))
numbers+=[55,66,77]
print("Original list",numbers)
print("Duplicate list ",new_numbers)

Original list [23, 78, 90, 45, 75]
Duplicate list  [23, 78, 90, 45, 75]
Original list [23, 78, 90, 45, 75, 55, 66, 77]
Duplicate list  [23, 78, 90, 45, 75]

In [42]:
#shallow copy and deep copy in list
import copy
numbers=[10,20,30,[40,50]]
duplicate_number_list1=copy.copy(numbers) #shallow copy
print("Id of original list",id(numbers))
print("Id of duplicate list",id(duplicate_number_list1))
numbers[3][0]=70
print("Original list",numbers)
print("Duplicate list ",duplicate_number_list1)

Id of original list 2098787096768
Id of duplicate list 2098791496960
Original list [10, 20, 30, [70, 50]]
Duplicate list  [10, 20, 30, [70, 50]]

In [44]:
#shallow copy and deep copy in list
import copy
numbers=[10,20,30,[40,50]]
duplicate_number_list1=copy.deepcopy(numbers) #deep copy
print("Id of original list",id(numbers))
print("Id of duplicate list",id(duplicate_number_list1))
numbers[3][0]=90
print("Original list",numbers)
print("Duplicate list ",duplicate_number_list1)

Id of original list 2098810040896
Id of duplicate list 2098810032512
Original list [10, 20, 30, [90, 50]]
Duplicate list  [10, 20, 30, [40, 50]]

Tuple data type

In [45]:
x=(10,20,30,45,78)
print(type(x))

<class 'tuple'>

In [46]:
x=(10,20,30,45,78)
x.index(30)

2

In [47]:
x.count(45)

1

In [50]:
from collections import Counter
x=(10,20,30,45,78,78,20,20,20,30)
Counter(x)

Counter({20: 4, 30: 2, 78: 2, 10: 1, 45: 1})

In [52]:
x=(10,20,30,45,78,78,20,20,20,30)
#arrange tuple in ascending order
x_sort=sorted(x)
print("Ascending order tuple",x_sort)

Ascending order tuple [10, 20, 20, 20, 20, 30, 30, 45, 78, 78]

In [53]:
x=(10,20,30,45,78,78,20,20,20,30)
#arrange tuple in descending order
x_sort=sorted(x,reverse=True)
print("Descending order tuple",x_sort)

Descending order tuple [78, 78, 45, 30, 30, 20, 20, 20, 20, 10]

In [ ]:
#difference append() and extend()
#diference between shallow copy and deep copy
#difference between list and tuple
#difference between sort and sorted function
#How we can update list element?