In [1]:
s1={}
print(type(s1))

<class 'dict'>

In [2]:
s2={10}
print(type(s2))

<class 'set'>

In [3]:
#to declare empty set we use set ()
s3=set()
print(type(s3))

<class 'set'>

In [4]:
s4={10,20,30,40,50} #set is an unordered data type
print(s4)

{50, 20, 40, 10, 30}

In [5]:
diwali_faral={'Chakali','Chiwada','Karanji'}
print(diwali_faral)

{'Karanji', 'Chakali', 'Chiwada'}

In [6]:
# it stored result in same object i.e.it is muttable data type
diwali_faral.add('shev')

In [7]:
diwali_faral

{'Chakali', 'Chiwada', 'Karanji', 'shev'}

In [8]:
diwali_faral.update({'laddu','anarase'})
diwali_faral

{'Chakali', 'Chiwada', 'Karanji', 'anarase', 'laddu', 'shev'}

In [9]:
diwali_faral.pop()

'Chakali'

In [10]:
diwali_faral.remove('laddu')
diwali_faral

{'Chiwada', 'Karanji', 'anarase', 'shev'}

In [11]:
#mathematical  operation =>union,intersection,
#difference,symmetric_difference
#union combine two sets
t1={11,22,33,44,55}
t2={33,44,55,66,77}
print("Union result is",t1.union(t2))
print("Union result is",t2.union(t1))
print("Union result using operator",t1|t2) # | operator

Union result is {33, 66, 11, 44, 77, 22, 55}
Union result is {33, 66, 11, 44, 77, 22, 55}
Union result using operator {33, 66, 11, 44, 77, 22, 55}

In [12]:
#intersection returns common elements
t1={11,22,33,44,55}
t2={33,44,55,66,77}
print("Intersection result is",t1.intersection(t2))
print("Intersection result is",t2.intersection(t1))
print("Intersection result using operator",t1&t2) # & operator

Intersection result is {33, 44, 55}
Intersection result is {33, 44, 55}
Intersection result using operator {33, 44, 55}

In [13]:
#difference
t1={11,22,33,44,55}
t2={33,44,55,66,77}
print("Difference result is t1.difference(t2)=>",t1.difference(t2))
print("Difference result is t2.difference(t1)=>",t2.difference(t1))
print("Difference result using operator t1-t2=>",t1-t2) # - operator
print("Difference result using operator t2-t1=>",t2-t1) # - operator

Difference result is t1.difference(t2)=> {11, 22}
Difference result is t2.difference(t1)=> {66, 77}
Difference result using operator t1-t2=> {11, 22}
Difference result using operator t2-t1=> {66, 77}

In [14]:
# symmetric difference returns uncommon elements
t1={11,22,33,44,55}
t2={33,44,55,66,77}
print("Difference result is =>",t1.symmetric_difference(t2))
print("Difference result is =>",t2.symmetric_difference(t1))
print("Difference result using operator t1^t2=>",t1^t2) # - operator
print("Difference result using operator t2^t1=>",t2^t1) # - operator

Difference result is => {66, 22, 11, 77}
Difference result is => {66, 22, 11, 77}
Difference result using operator t1^t2=> {66, 22, 11, 77}
Difference result using operator t2^t1=> {66, 22, 11, 77}

In [15]:
# frozenset 
new_set=frozenset({'a','b','c','d'})
print(type(new_set))

<class 'frozenset'>

In [16]:
new_set2=frozenset({'e','f','c','d'})
print(type(new_set))
new_set.union(new_set2)

<class 'frozenset'>

frozenset({'a', 'b', 'c', 'd', 'e', 'f'})